*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#11998e,#38ef7d);
}

.card{
    background:rgba(0,0,0,0.7);
    padding:40px;
    border-radius:20px;
    text-align:center;
    backdrop-filter:blur(12px);
    box-shadow:0 0 30px rgba(255,255,255,0.3);
}

h1{
    color:white;
    margin-bottom:20px;
}

input{
    padding:10px;
    border:none;
    border-radius:10px;
    margin-bottom:15px;
    width:200px;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:20px;
    background:linear-gradient(45deg,#ff512f,#dd2476);
    color:white;
    cursor:pointer;
    margin-bottom:20px;
}

button:hover{
    transform:scale(1.05);
}

#result{
    color:#fff;
    margin-top:10px;
}

.back{
    display:block;
    margin-top:20px;
    color:white;
    text-decoration:none;
}